@import "../../config/base-vars";

.prop-header-actions {
  display: none;
}

.prop-wrapper {
  max-width: none;

  .persistence-actions.bottom {
    text-align: right;
    margin-top: 5rem;
  }

}

.prop-body {
  display: flex;
  flex-flow: column nowrap;

  .prop-group {
    flex: 1 0 auto;
    padding: 0;
  }

}

.prop-editor {

  .product-details,
  .freight-details,
  .seller-details,
  .interval-props {
    margin-bottom: 2rem;

    > section > .prop-group-title {
      h1 {
        font-size: 1.75rem;
        border-bottom: 2px solid $color-tpe-light-grey;
        color: $color-tpe-dark-grey;
      }
      .hint {
        font-size: 1rem;
        font-weight: 300;
        font-style: italic;
        color: $color-tpe-grey;
      }
    }

    .props .prop-group .prop-group-title {
      display: block;
      width: 100%;
      margin-bottom: 0;

      h1 {
        font-family: $font-raleway;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 0;
        &::after {
          content: '*';
          color: red;
        }
      }
    }

  }

  div.packaging {
    .props {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      background: transparent;
      border: none;
      padding: 0;

      .props {
        width: 100%;
      }

      .pre-packaged, .single-packaging {
        margin-bottom: 0;
      }

      .allow-select {
        margin-top: 1rem;
        &::before {
          content: '- or -';
          text-transform: uppercase;
          color: $color-tpe-black;
          display: block;
          font-size: .85rem;
          font-weight: 600;
          margin-bottom: 3px;
          margin-top: -12px;
        }
      }

      .pre-packaged, .allow-select {
        display: block;
        width: 100%;
        padding: 0;
        label.tbl {
          font-size: .9rem;
        }
      }
    }
    &.packaging {

      .packaging .price label {
        font-weight: 300;
        margin-top: .25rem;
        padding-left: 3px;
        text-transform: none;
      }

    }
    .prop-group.single-package {
      display: block;
      padding-left: 0;
      width: 100%;
      .single-packaging {
        padding-left: 20px;
        span.select2-container {
          width: 100% !important;
          max-width: 22rem !important;
        }
        label {
          display:none;
        }
      }
      .single-package-other-name {
        padding-left: 20px;
        input.val {
          max-width: 21.75rem;
        }
      }
    }
  }

  .prop-group.freshness {
    .prop.freshness {
      padding-left: 0;
      margin-top: 0;
      span.label-after {
        margin-right: 1rem;
      }
    }
    .fresh, .frozen {
      padding-left: 0;
      .prop {
        padding: 0;
      }
    }
    .prop.kill-date {
      padding-left: 0;
      label {
        width: auto;
        margin-right: 8px;
        margin-bottom: 0;
        vertical-align: middle;
      }
      .val {
        span.select2-container {
          width: 6.5rem !important;
        }
        span.between-and {
          padding-left: 5rem;
        }
        .date1, .date2 {
          display: inline-block;
          vertical-align: middle;
        }
        .miwt-calendar {
          input[type="text"] {
            width: 7rem;
            font-size: .9rem;
          }
        }
      }
    }
  }

  .prop {
    padding-left: 0;

    input[type="text"], textarea {
      min-width: 0;
      width: 100%;
      max-width: 23rem;
    }

    .select2-container {
      width: 100%;
      max-width: 23rem !important;
    }

    .miwt-calendar input[type="text"] {
      width: 40%;
    }

    > label {
      width: 100%;
      display: block;
    }

    label {
      font-family: $font-raleway;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 0;

      &.tbl {
        padding-left: 5px;
        text-transform: none;
        display: inline;
        font-weight: 300;
        font-family: $font-open-sans;
      }

    }

    &.label-before {
      label.tbl {
        padding-left: 0;
      }
    }

    &.type {

      .select2-container {
        width: 100% !important;
      }

      .custom-type {
        margin-top: 1rem;
        padding-left: 0;

        label {
          display: block;
          margin-bottom: 0;
        }

      }

    }

    &.file.specs {
      display: flex;
      flex: 1 0 auto;
      flex-flow: row wrap;
      height: auto;
      label {
        flex: 1 0 auto;
        width: 100%;
      }
      span.hint {
        order: 3;
        flex: 3 0 auto;
        width: 100%;
        max-width: none;
      }
      .file-name, span.actions {
        flex: 0 0 auto;
        margin-right: 8px;
        align-self: center;
      }
    }

    &.specialty-labels {
      padding-bottom: 1rem;
      display: flex;
      flex-direction: column;
      span.hint {
        order: 3;
        margin-top: -.25rem;
      }
      div.val {
        width: 100%;
        span.label-after {
          display: inline-block;
          vertical-align: top;
          width: 8.75rem;
          margin-right: 10px;
          margin-bottom: .5rem;
          label > span {
            display: inline-block;
            vertical-align: top;
            width: calc(100% - 25px);
          }
        }
      }
    }

    &.lot-number, &.volume, &.weight {
      label {
        margin-bottom: 0;
      }
    }

    &.single-package-other-name {
      margin-bottom: 0;

      label {
        display: block;
        width: 100%;
        margin-bottom: 0;
      }

      input.val {
        width: 100%;
      }

    }

    &.location, &.grade {
      .select2-container {
        width: 100% !important;
      }
    }

    &.note {
      display: flex;
      flex-direction: column;
      span.hint {
        order: 3;
      }
    }

  }

  span.hint, div.hint {
    padding: 0 0 5px;
    font-size: .85rem;
    font-style: italic;
    margin-top: .25rem;
    color: $color-tpe-grey;
    display: block;
    max-width: 23rem;
    width: 100%;
    font-weight: 300;
  }

  .prop.ship-date {
    .val {
      width: 100%;
      span.select2-container {
        width: 6.5rem !important;
      }
      span.between-and {
        padding-left: 5rem;
      }
      .date1, .date2 {
        display: inline-block;
        vertical-align: middle;
      }
      .miwt-calendar {
        input[type="text"] {
          width: 7rem;
          font-size: .9rem;
        }
      }
    }
  }

  .multiple-packaging {
    display: block;
    padding-left: 0;
    width: 100%;
    margin-top: -1.75rem;
    > div {
      padding-top: .25rem;
      margin-top: .25rem;

      label {
        margin-bottom: 0;
        font-size: .85rem;
      }

      .name, .price {
        padding-left: 23px;
        input {
          width: 95%;
        }
      }

      .prop {
        padding: 0;
        margin-bottom: 0;
        input.val {
          width: 95%;
        }
      }

    }
  }

  .interval-props {
    margin-bottom: 0;

    .prop-group-title {
      div.hint {
        max-width: none;
      }
    }

    .prop {
      > label {
        display: block;
      }
      .select2-container {
        width: 100% !important;
      }

      .miwt-calendar {
        .select2-container {
          margin-top: .5rem;
          width: 19rem !important;
        }
        input[type="text"] {
          width: 11rem;
        }
      }
      &.duration {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;

        label {
          margin-bottom: 0;
        }
        span.hint {
          padding-left: 0;
          order: 3;
          margin-top: 0;
        }
      }
    }
  }

}

@media (min-width: 768px) {

  .prop-editor {
    width: 75%;

    .multiple-packaging {
      width: 60%;
      padding-left: 18px;

      > div {
        display: inline-block;
        vertical-align: top;
        width: 50%;
      }

    }

    .prop-group.freshness {
      .prop.kill-date .val {
        span.between-and {
          padding-left: 0;
        }
      }
    }

    .prop.ship-date {
      .val {
        span.between-and {
          padding-left: 0;
        }
      }
    }

    .interval-props .prop {
      .miwt-calendar {
        .select2-container {
          margin-top: .5rem;
          width: 19rem !important;
        }
      }
    }

  }

}

div.window.dialog {
  &.file-dialog {
    max-width: 50rem !important;

    .file_chooser td.actions-con {

      .upload {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid $color-tpe-light-grey;

        label {
          display: block;
        }

        input {
          font-size: .9rem;
        }
        .btn {
          margin-left: 10px;
        }
      }

      input[type="text"] {
        border: 2px solid $color-tpe-light-grey;
        vertical-align: middle;
        font-size: .9rem;
        margin-right: .5rem;
        padding: 3px 4px;
      }

      label {
        font-size: .9rem;
      }
    }
  }
}

@media (min-width: 1024px) {

  .prop-editor {
    .prop-group.freshness {
      .prop.kill-date .val {
        span.between-and {
          padding-left: 0;
        }
        .miwt-calendar input[type="text"] {
          width: 12.75rem;
        }
      }
    }

    .prop.ship-date {
      .val {
        span.between-and {
          padding-left: 0;
        }
        .miwt-calendar {
          input[type="text"] {
            width: 12.75rem;
            font-size: .9rem;
          }
        }
      }
    }

    .interval-props .prop .miwt-calendar .select2-container {
      margin-top: 0;
    }

  }

}