@import "../../../../../bower_components/bootstrap/scss/mixins/clearfix";

.search-bar {
  background: transparent;
  border-radius: 0;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
  @include clearfix();

  .actions.search-actions {
	position: absolute;
	right: 0;
	bottom: -9px;
	padding: .5rem 0;
	text-align: right;
  }

}

.constraints {
  display: flex;
  //justify-content: space-between;
  flex-flow: row wrap;

  .quick-filter-con {
	display: flex;
	flex: 1 0 100%;
	justify-content: center;
	background: #fff;
	border-top: 3px solid #cecbcf;
	border-bottom: 3px solid #cecbcf;
	padding: .5rem 0;
  }

  .quick-filter {
	display: flex;
	flex: 0 0 10%;
	margin: 0 1rem;
	flex-flow: column nowrap;
	position: relative;
	min-width: 8rem;
	max-width: 8rem;

	&.selected {
	  .btn {
		position: relative;
		color: $color-white;
	  }

	  &::before {
		content: '';
		background: $color-tpe-yellow;
		display: block;
		height: 120%;
		left: 0;
		position: absolute;
		top: -16px;
		width: 100%;
		z-index: 0;
	  }

	  &::after {
		content: '';
		display: block;
		position: absolute;
		bottom: auto;
		top: 100%;
		left: 0;
		border-left: 64px solid transparent;
		border-right: 64px solid transparent;
		border-top: 20px solid $color-tpe-yellow;
	  }

	}

	.btn {
	  background: transparent;
	  font-size: .8rem;
	  text-transform: uppercase;
	  font-family: $font-raleway;
	  font-weight: 500;
	  margin: 0 auto;
	  position: relative;
	  z-index: 10;

	  &::first-letter {
		font-size: 2.5rem;
		font-weight: 700;
		line-height: 1;
	  }

	}

  }

  .select2-container {
	flex: 1 1 auto;
	margin-right: 1rem;
	align-self: flex-end;
	max-width: 20% !important;
  }

  .constraint.location, .constraint.company {
	flex: 1;
	max-width: 19.75% !important;
	margin: 2rem 0 0;
	padding: 1px 0 1px 5px;
  }

  .constraint.location {
	margin: 2rem 1rem 0 0;
  }

}
