.user-edit,
.customer-editor,
.location-edit,
.customer-add,
.user-editor,
.company-edit,
.company-add {
  max-width: 100%;
  padding: 0 5rem;

  label {
    margin-bottom: .15rem;
  }

  .name-editor, .prop-group {
    display: flex;
    flex-flow: row wrap;
    flex: 1 0 100%;

    .val {
      display: block;
    }

  }

  .name-editor > div{
    flex: 1;
  }

  .address {
    > div {
      flex: 2 0 45%;
    }
  }

  .phone {
    flex: 1 0 45%;
    .prop {
      width: 100%;
    }
  }

  label {
    margin-bottom: .15rem;
  }

  .persistence-actions.actions {
    text-align: right;
    padding-right: 5rem;
  }

  input[type="text"], input[type="tel"] {
    max-width: 100%;
    min-width: 0 !important;
    width: 100%;
  }

  .prop.postal-code {
    max-width: 50%;
  }

}

.user-edit, .user-editor {

  .picture-editor {
    .btn {
      @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $line-height-sm, $border-radius-sm);
    }
    &.mode-view img {
      max-width: 250px;
    }
  }

  .prop label {
    font-family: $font-raleway;
    color: $color-tpe-black;
    font-weight: 700;
    margin-bottom: .15rem;
    text-transform: uppercase;
  }

  .prop-body {
    display: flex;
    flex-flow: row wrap;

    > div {
      flex: 1 0 50%;
    }

    > div:last-child {
      flex: 1 0 100%;
      padding-top: 2rem;
      flex-direction: column;

      > div {
        display: flex;
        flex-flow: row wrap;
      }

      > .user-entry-required {
        flex-direction: column;

        .select2-container {
          max-width: 10rem;
        }

      }

    }

  }

}

.customer-editor {
  width: 100%;
  max-width: 100%;
  padding: 2rem;
  background: #fff;
  border: 1px solid $color-tpe-beige;

  .prop-body {
    display: flex;
    flex-flow: column nowrap;
  }

  > .user-entry-required {
    flex-direction: column;

    .select2-container {
      max-width: 10rem;
    }

  }

}

.location-edit, .company-edit, .company-add {
  textarea {
    width: 100%;
    height: 10rem;
    min-width: 0 !important;
  }

  .persistence-actions.actions {
    padding: 0;
  }

}

.customer-add {

  .prop-body > div > div:not(.prop) {
    display: flex;
    flex-flow: row wrap;
  }

}

.customer-add, .customer-editor, .user-editor, .edit-user, .company-edit, .company-add {
  .prop-header-actions {
    display: none;
  }
}

@media (max-width: 600px) {

  .user-edit,
  .customer-editor,
  .location-edit,
  .customer-add,
  .user-editor,
  .company-edit,
  .company-add {
    padding: 0;

    .name-editor, .prop-group {
      flex: 1 0 auto;
      flex-flow: column nowrap;
    }
    .address, .phone {
      flex-flow: column nowrap;
      > div {
        flex: 1 0 auto;
      }
    }

    .prop-group.email-address {
      span.val {
        word-break: break-all;
        word-break: break-word;
      }
    }

  }

  .user-edit, .user-editor {
    .prop-body {
      flex-flow: column nowrap;
      > div {
        flex: 1 0 auto;
      }
      > div:last-child {
        flex: 1 0 auto;
      }
    }
  }

  .company-add {
    input {
      &[type="text"],
      &[type="tel"],
      &[type="email"],
      &[type="url"] {
        width: 100% !important;
        min-width: 0 !important;
      }
    }
  }

}