.user-edit,
.customer-editor,
.location-edit,
.customer-add,
.user-editor {
  max-width: 100%;
  padding: 0 5rem;

  label {
    margin-bottom: .15rem;
  }

  .name-editor, .prop-group {
    display: flex;
    flex-flow: row wrap;
    flex: 1 0 100%;

    .val {
      display: block;
    }

  }

  .name-editor > div{
    flex: 1;
  }

  .address {
    > div {
      flex: 2 0 50%;
    }
  }

  .phone {
    flex: 1 0 50%;
  }

  label {
    margin-bottom: .15rem;
  }

  .persistence-actions.actions {
    text-align: right;
    padding-right: 5rem;
  }

}

.user-edit, .user-editor {

  .picture-editor {
    .btn {
      @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $line-height-sm, $border-radius-sm);
    }
    &.mode-view img {
      max-width: 250px;
    }
  }

  .prop label {
    font-family: $font-raleway;
    color: $color-tpe-black;
    font-weight: 700;
    margin-bottom: .15rem;
    text-transform: uppercase;
  }

  .prop-body {
    display: flex;
    flex-flow: row wrap;

    > div {
      flex: 1 0 50%;
    }

    > div:last-child {
      flex: 1 0 100%;
      padding-top: 2rem;
      flex-direction: column;

      > div {
        display: flex;
        flex-flow: row wrap;
      }

      > .user-entry-required {
        flex-direction: column;

        .select2-container {
          max-width: 10rem;
        }

      }

    }

  }

}

.customer-editor {
  width: 100%;
  max-width: 100%;
  padding: 2rem;
  background: #fff;
  border: 1px solid $color-tpe-beige;

  .prop-body {
    display: flex;
    flex-flow: column nowrap;
  }

  > .user-entry-required {
    flex-direction: column;

    .select2-container {
      max-width: 10rem;
    }

  }

}

.location-edit {
  textarea {
    width: 100%;
    height: 10rem;
  }

  .persistence-actions.actions {
    padding: 0;
  }

}

.customer-add {

  .prop-body > div > div:not(.prop) {
    display: flex;
    flex-flow: row wrap;
  }

}

.customer-add, .customer-editor, .user-editor, .edit-user {
  .prop-header-actions {
    display: none;
  }
}