.miwt-table {
  border: none;

  > thead > tr > th {
    background: $color-tpe-dark-grey;
    font-family: $font-raleway;
    font-weight: 800;
    color: $color-white;
    text-align: center;
    text-transform: uppercase;
    font-size: .75rem;
    line-height: 1.25;

    &.first-column {
      text-align: left;
    }

    a {
      color: $color-white;
    }

  }

  > tbody > tr {

    &.odd td, &.even td {
      background-color: $color-white;
    }

    > td {
      font-family: $font-open-sans;
      font-size: .85rem;
      color: $color-tpe-black;
      border: 2px solid $tpe-page-bg;

      &.type-date, .type-listing-status {
        text-align: center;
      }

    }

  }

}

@media (max-width: 768px) {
  .miwt-table {

    > thead > tr > th {
      font-size: .65rem;
    }

    .action-column {
      a.btn {
        display: block;

        + a.btn {
          margin-top: .5rem;
        }

      }
    }
  }
}