
$hover-background-color-left-nav: #fff;
$hover-text-color-left-nav:#02549d;
$text-color-left-nav: #fff;
$border-color: #aaa;

.sub-nav li{
  font-weight: bold;
  width: 100%;
}

.sub-nav div.element a {
  width: 100%;
  display: block;
  padding: 15px 0 15px 10%;
  font-size: 1.2em;
  color: $text-color-left-nav;
}

.sub-nav div:hover a {
  text-decoration: none;
  background-color: $hover-background-color-left-nav;
  color: $hover-text-color-left-nav;
}
