@import "../components/base";

#header {
  width: 100%;
  background-color: $WhiteColor;
  position: relative;
  padding-top: 70px;
  text-align: right;
  padding-right: 100px;

  .menu {
    float: right;
  }

  img.logo {
    position: absolute;
    top: 20px;
    left: 0px;
    width: 300px;
  }
  .logout {
    position: absolute;
    top: 0px;
    right: 10px;
  }

  .menuitemlabel {
    text-decoration: none;
    color: $PoultryExchangeBlue;
    font-weight: bold;
  }

  .menuitemlabel:hover span {
    color:$BrownColor;
    text-decoration: none;
  }

  li, #header .menuitemlabel {
    color: $BrownColor;
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
  }

  .menuitemlabel:visited {
    color: $PoultryExchangeBlue;
    text-decoration: none;
  }

  .menu li {
    display: block;
    margin: 0;
    width: 150px;
    background-color: $WhiteColor;
  }
  .menu li span {
  }

  .menu li ul {
    padding-top: 10px;
  }

  .menu li ul li {
    border: 1px solid $PoultryExchangeBlue;
    padding-top: 10px;
    z-index: 100;
    display: inline;
    min-height: 45px;

  }

  .logout {
    height: 99px;
    width: 99px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: $PoultryExchangeBlue;
    text-align: center;
    color: $BrownColor;
    font-size: .9em;
    font-weight: bold;
    border: 1px solid black;

  }

  .logout a {
    color: $WhiteColor;
    font-weight: bold;
  }
}