.user-viewer, .location-viewer, .company-viewer, .listing-viewer{
  background-color: #fff;
  border:1px solid #aaa;
  padding: 20px 60px;
  width: 100%;
  max-width: 100%;
}

.user-viewer .prop, .location-viewer .prop, .company-viewer .prop {
  display: block;
}

.location-viewer .company,.company-viewer .name {
  font-size: 1.5em;
}







