

#column2 .miwt {
  width: 70%;
  background-color: #fff;
  border: 1px solid #aaa;
  padding: 60px 0;
}

#column2 h1 {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 1.55em;
  width: 100%;
  padding: 0 10%;
  color: #02549d;
  font-weight: bold;
  margin-bottom: 50px;
}

#column2 h2 {
  font-size: 1.3em;
  margin: 30px 10%;
}

.user-roles div > span {
  display: block;
  margin: 10px 0px 10px 10%;
  width: 200px;
  padding: 5px;
}

.message-container > div > span.brief {
  display: inline-block;
  width: 100%;
  height:20px;
  margin: 0;
  padding: 0;
}

.message-container{
  margin: 0;
}


