.search-bar{
  background-color: #CCCC99;
  color: black;
  font-size: 1.1em;
  margin: 0;
  padding: 20px;
}
.search .add{
  margin: 10px 10px 0 0;
}
.miwt-table, .search-bar, .miwt-table td{
  border: 1px solid #aaa;
  border-radius: 3px;
}
.miwt-table td{
  border: 1px solid #aaa;
}
.miwt-table td:last-child {
  text-align:center;
}
.miwt-table .control > *{
  display: inline-block;
  vertical-align: middle;
}
.miwt-table-data tr{
  height: 50px;
}
.miwt-table-data tr .first-column{
  padding-left: 15px;
}
thead tr{
  height: 50px;
}

.dnd-target{
  border: 1px solid #aaa;
}


.dnd-target *{
  font-weight: bold;
}

.miwt-table thead > tr > th{
  background-color: black;
  border: 1px solid white;
}
.miwt-table thead > tr > th span{
  color: white;
  font-size:1.1em;

}
.miwt-table > tbody > tr:nth-child(even) > td{
  background-color: #cccc99;
}

.miwt-table > tbody > tr:nth-child(odd) > td{
  background-color: #D9D9B3;
}

.miwt-table * td {
  border: 1px solid white;
}

tbody tr:hover td, .search-wrapper .miwt-table tbody tr:hover td {
  background-color: #EDEDDA;
}
.result-actions{
  margin-right: 30px;
}
