@import "../../config/base-vars";
@import "../../../../../bower_components/bootstrap/scss/mixins";
@import "../../../../../bower_components/bootstrap/scss/buttons";

.composite{
  width: 100%;
  max-width: 370px;
  margin: 0 auto;
}

.composite .form-signin{
  border-radius: $border-radius-lg;
  margin-top: 5rem;
}

.fields .field{
  background-color: $color-white;
}

.field {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 3.5rem 0;
  text-align: left;

  .label {
    padding: 0;
    display: block;
    border-radius: 0;
    text-align: left;
  }

}

.form-content{
  display: flex;
  flex-direction: column;
  color: black;
  background: $color-white;
  padding-bottom: 1.5rem;

  .message-container {
    margin: 10px;
  }

  .title{
    background-color: $color-tpe-brand;
    text-align: center;
    color: $color-white;
    font-size: 1.6em;
    vertical-align: center;
    text-transform: uppercase;
    padding: .5rem 0;
    border-top-left-radius: $border-radius-lg;
    border-top-right-radius: $border-radius-lg;
    font-family: $font-raleway;
    font-weight: 700;
  }

  label{
    color: black;
    font-size: .85rem;
    text-transform: uppercase;
    font-family: $font-open-sans;
    margin-bottom: .25rem;
  }

  .actions{
    text-align:center;
    padding-top: 20px;
    background-color: $color-white;

    .btn {
      max-width: 10rem;
      line-height: 1rem;
      padding: .65rem 1rem .375rem;
    }

  }

}

.form-signin  {

  .retrieve-password p {
    padding: 0 0 1rem;
    background-color: $color-white;
    font-size: .85rem;
    margin: 0;
    border-bottom-left-radius: $border-radius-lg;
    border-bottom-right-radius: $border-radius-lg;
    text-align: center;
  }

  input[type="text"], input[type="password"] {
    padding-left: 5px;
    border: 2px solid $color-tpe-grey;
    width: 100%;
  }

  .title p {
    margin: 0;
  }

}

.retrieve-password-con {
  background: $color-white;
  font-family: $font-open-sans;
  border-radius: $border-radius-lg;
  margin-top: 5rem;

  .html {
    font-size: .85rem;
    padding: 0;

    .title{
      background-color: $color-tpe-brand;
      text-align: center;
      color: $color-white;
      font-size: 1.6em;
      vertical-align: center;
      text-transform: uppercase;
      padding: .5rem 0;
      border-top-left-radius: $border-radius-lg;
      border-top-right-radius: $border-radius-lg;
      font-family: $font-raleway;
      font-weight: 700;
    }

    p {
      padding: 2rem 2rem 0;
    }

  }

  span.email {
    display: block;
    font-weight: 700;
    margin-bottom: .25rem;
  }

  input[type="text"] {
    border: 2px solid $color-tpe-grey;
    width: 100%;
  }

  .retrieve-password {
    padding: 0 3rem 2rem;

    button {
      display: block;
      margin: .5rem auto 0;
      font-weight: 700;
      text-transform: uppercase;
      border-width: 1px;
      border-style: solid;
      @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
      @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $line-height-sm, $border-radius-sm);
    }

  }

}

.password-reset {
  background: $color-white;
  font-family: $font-open-sans;
  border-radius: $border-radius-lg;
  margin-top: 5rem;

  .title {
    background-color: $color-tpe-brand;
    text-align: center;
    color: $color-white;
    font-size: 1.6em;
    vertical-align: center;
    text-transform: uppercase;
    padding: .5rem 0;
    border-top-left-radius: $border-radius-lg;
    border-top-right-radius: $border-radius-lg;
    font-family: $font-raleway;
    font-weight: 700;
  }

  p {
    padding: 2rem 2rem 0;
  }

  .label {
    font-size: .85rem;
    color: $color-tpe-black;
    text-transform: uppercase;
    font-family: $font-open-sans;

    label {
      margin-bottom: .25rem;
    }

  }

  .actions {
    padding: 0 3rem 2rem;

    .btn {
      margin: .5rem auto 0;
      display: block;
    }

  }

}