
section.user-edit{
  padding-left: 50px;
}


.user-edit .prop input{
  padding-left: 10px;
}

.location-add .prop-body > .prop:last-child {
   display: block;
 }

.location-add .prop{
  margin-right: 15px;
}

.location-add, .company-add, .user-editor, .company-edit{
  margin-left: 30px;
}


.company-add .prop-body> .prop:last-of-type, .company-add .prop-body> div:nth-child(5){
  display: block;
}








