@import "../components/base";

#column2 .miwt, #column2 .location-edit{
  background-color: $WhiteColor;
  border: 1px solid $GreyBorder;
}

.prop, .prop-group{
  display: inline-block;
}

.user-picture{
  display: block;

}
.prop-editor {
  max-width: none;
}

section.user-edit{
  padding-left: 50px;
}

.user-edit .prop input{
  padding-left: 10px;
}

.picture-editor{
 text-align: left;
}
