@import "../components/base";

.search-bar{
  background-color: $BrownColor;
  color: $BlackFontColor;
  font-size: 1.1em;
  margin: 0;
  padding: 20px;
}
.search .add{
  margin: 10px 10px 0 0;
}
.miwt-table, .search-bar, .miwt-table td{
  border: 1px solid $GreyBorder;
  border-radius: 3px;
}
.miwt-table td{
  border: 1px solid $GreyBorder;
}
.miwt-table td:last-child {
  text-align:center;
}
.miwt-table .control > *{
  display: inline-block;
  vertical-align: middle;
}
.miwt-table-data tr{
  height: 50px;
}
.miwt-table-data tr .first-column{
  padding-left: 15px;
}
thead tr{
  height: 50px;
}

.dnd-target{
  border: 1px solid $GreyBorder;
}


.dnd-target *{
  font-weight: bold;
}

.miwt-table thead > tr > th{
  background-color: $BlackFontColor;
  border: 1px solid $WhiteColor;
}
.miwt-table thead > tr > th span{
  color:$WhiteColor;
  font-size:1.1em;

}

//These two colors will change when designer picks colors
.miwt-table > tbody > tr:nth-child(even) > td{
  background-color: $TableEvenRows;
}

.miwt-table > tbody > tr:nth-child(odd) > td{
  background-color: $TableOddRows;
}

.miwt-table * td {
  border: 1px solid $WhiteColor;
}

tbody tr:hover td, .search-wrapper .miwt-table tbody tr:hover td {
  background-color: $TableHoverColor;
}
.result-actions{
  margin-right: 30px;
}

.pager{
  margin-top: 0;
}

.miwt-table-con.search-wrapper, .miwt-table-con .miwt-table{
  margin-top: 0;
}


//removes hyperlink line from view buttons
.actions a.view:hover{
  text-decoration: none;
}
