@import "../../../config/base-vars";
@import "../../../../../../bower_components/bootstrap/scss/variables";
@import "../../../../../../bower_components/bootstrap/scss/mixins";
@import "../../../../../../bower_components/bootstrap/scss/buttons";

.listing {

  &.prop-wrapper {
	max-width: none;
	width: 100%;
	padding: 0;
  }

  span.persistence-actions.actions {
	display: block;
	width: 100%;
	text-align: right;
	margin-top: 4.5rem;

	.btn {
	  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $line-height-sm, $border-radius-sm);
	}

	+ div.bids {
	  margin-top: -2.5rem;
	}

	+ .prop-body {
	  margin-top: -2.5rem;
	}

  }

  .listing-time {
	margin-top: 1rem;
	label {
	  font-weight: 700;
	  &::after {
		content: ':';
		padding-right: 5px;
	  }
	}

	+ div {
	  margin-top: .75rem;
	}

  }

  .prop-body {
	clear: both;
  }

}

div.header {

  .status {
	text-transform: uppercase;
	font-weight: 600;
	color: $color-tpe-grey;

	&.Sold {
	  color: $color-tpe-brand;
	}

	&.Live {
	  color: $color-tpe-green;
	}

	label {
	  margin-bottom: 0;
	  &::after {
		content: ':';
		padding-right: 5px;
	  }
	}

  }

  .status, .type {
	font-size: 1.15rem;
  }

  .location {
	font-family: $font-raleway;
	font-size: 2.5rem;
	text-transform: uppercase;
	line-height: 1.25;
	font-weight: 700;
	color: $color-tpe-black;
  }

  .type {
	color: $color-tpe-grey;
  }

}

div.bids, div.intervals {

  > label {
	font-size: 2rem;
	text-transform: uppercase;
	font-family: $font-raleway;
	color: $color-tpe-black;
	font-weight: 700;
	display: block;
	border-bottom: 2px solid $color-tpe-light-grey;
	padding-bottom: .25rem;
	margin-bottom: .5rem;
  }

}

div.bids {
  margin-top: 4.5rem;

  .high-bid {
	display: flex;
	flex-flow: row nowrap;
	color: $color-tpe-yellow;
	font-size: 2.25rem;
	align-items: center;
	font-weight: 700;

	> label {
	  font-family: $font-raleway;
	  font-size: .8rem;
	  text-transform: uppercase;
	  margin-bottom: 0;
	  width: 4.5rem;
	  line-height: 1.5;
	  color: $color-tpe-black;
	}

  }

  .bids {
	width: 100%;

	td.header-con {
	  background: $color-tpe-dark-grey;
	  font-size: .75rem;
	  color: $color-white;
	  text-transform: uppercase;
	  text-align: center;
	  font-weight: 600;
	  line-height: 1.25;
	  padding: 5px 8px;
	}

	td.no-data-con {
	  padding: .5rem;
	  font-size: .85rem;
	  font-style: italic;
	  color: #aaa;
	  background: #f7f7f7;

	  + td {
		background: #f7f7f7;
	  }

	}

	td.bid-con:not(.header-con) {
	  background: $color-white;
	}

	div.bid {
	  background: $color-white;
	  color: $color-tpe-black;
	  font-size: .9rem;
	  padding: 8px;
	  border-top: 1px solid $body-bg;

	  span.amount {
		font-weight: 700;
		padding-right: 5px;
	  }

	  span.time {
		font-size: .75rem;
	  }

	}

	tr:nth-of-type(2) {
	  td.bid-con div.bid {
		border-top: none;
	  }
	}

	td.interval-con {
	  padding: 10px;
	  text-align: center;
	  color: $color-white;
	  background: $color-tpe-light-grey;

	  div.time {
		font-size: .9rem;
	  }

	  div.price {
		font-size: 1.5rem;
		font-weight: 700;
	  }

	}

  }

  div.winner {
	display: flex;
	flex-flow: row nowrap;
	background: $color-white;
	padding: 1rem;
	border: 2px solid $color-tpe-yellow;
	border-radius: $border-radius-lg;
	font-size: .85rem;

	> span {
	  flex: 1;
	}

	label {
	  display: block;
	  font-weight: 700;
	  text-transform: uppercase;
	  &::after {
		content: ':';
	  }
	}

  }

}

.intervals {
  margin-top: 4.5rem;

  > div {
	margin-top: 1.5rem;
	display: flex;
	flex-flow: row wrap;

	tr > td:not(.type-price-schedule-interval) {
	  font-weight: 700;
	}

	.miwt-table-con {
	  width: 100%;

	  tr > th.type-price-schedule-interval {
		text-align: left;
	  }

	  tr > td.type-big-decimal {
		text-align: center;
	  }

	}

	.miwt-table > thead > tr > th.first-column,
	.miwt-table > tbody > tr > td.first-column {
	  padding-left: 1rem;
	}

	div.miwt-collapsable {
	  .btn {
		background: transparent;
		border: none;
		box-shadow: none;
		font-weight: 500;
		font-size: .85rem;
		padding: 0;
		text-transform: none;
		outline: none;

		&::after {
		  content: '\f078';
		  font-family: FontAwesome;
		  padding-left: 5px;
		}
	  }
	}

	div.miwt-collapsable-content {
	  padding: 1rem;
	  background: $body-bg;
	  border-bottom: 3px solid $color-tpe-yellow;
	  box-shadow: 0 3px 5px rgba(0,0,0,0.1);

	  .buyer {

		+ .buyer {
		  margin-top: .5rem;
		}

	  }

	}

	div.instructions {
	  flex: 1 1 auto;
	  max-width: 70%;
	}

	div.actions.schedule-actions {
	  flex: 1;
	  text-align: right;
	}

	div.interval {
	  flex: 1 0 100%;
	  display: flex;
	  flex-flow: row nowrap;
	  margin-top: 2rem;

	  &.editor {
		.reserve-price, .strike-price {
		  position: relative;

		  label {
			&::before {
			  content: '$';
			  font-weight: 300;
			  position: absolute;
			  font-size: 1rem;
			  left: -5px;
			  top: 29px;
			}
		  }
		}
	  }


	  label {
		text-transform: uppercase;
		margin-bottom: 0;
	  }

	  .interval-props {
		background: $color-white;
		border: 2px solid $color-tpe-light-grey;
		padding: 1rem;
		flex: 3;
		display: flex;
		flex-flow: row wrap;
		font-size: .85rem;

		.prop {
		  flex: 1;

		  &.buyers {
			.element {
			  margin-bottom: .5rem;
			}
		  }

		}

	  }

	  .actions.interval-actions {
		flex: 0 1 auto;
		max-width: 55px;
		overflow: hidden;

		.btn {
		  display: block;
		  margin-right: 0;
		  background: transparent;
		  border: none;
		  box-shadow: none;
		  color: transparent;
		  width: 50%;

		  &::before {
			font-family: FontAwesome;
			color: $color-tpe-dark-grey;
			font-weight: 300;
		  }

		  &.up::before {
			content: '\f062';
		  }

		  &.down::before {
			content: '\f063';
		  }

		  &.edit::before {
			content: '\f044';
		  }

		  &.delete::before {
			content: '\f1f8';
		  }

		  &:hover {
			color: transparent;
			background: transparent;
		  }

		  &[disabled="disabled"] {
			display: none;
		  }

		}

	  }

	  &.editor {
		flex-flow: row wrap;

		.message-container {
		  flex: 1 0 100%;
		}

		.interval-props {

		  .prop {
			flex: 1 0 40%;
		  }

		  .prop.buyers {
			label {
			  display: block;
			  text-transform: uppercase;
			  font-weight: 700;
			}
			.select2-container {
			  width: 11.4rem !important;
			}
		  }
		}

		.actions {
		  margin-left: 1rem;

		  .btn {
			display: block;
			width: 100%;
			margin-bottom: .35rem;
		  }

		}

		div.customer-list {

		  .btn.select {
			margin: .75rem 0 .5rem;
			@include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $line-height-sm, $border-radius-sm);
			@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
		  }

		  div.no_data {
			font-style: italic;
		  }

		  .element {

			> div {
			  display: inline;
			}

			input[type="radio"] {
			  display: none;
			}

			.btn.remove {
			  @include button-variant($color-tpe-red, $color-white, $color-tpe-red);
			  display: block;
			  margin: .25rem 0 .5rem;
			  padding: .125rem .5rem;
			  font-size: .675rem;
			  border-radius: $border-radius-sm;
			}

		  }

		}

	  }

	}

  }

}

.prop-body {
  margin-top: 4.5rem;

  &::before {
	content: 'Listing Details';
	display: block;
	width: 100%;
	font-size: 2rem;
	border-bottom: 2px solid $color-tpe-grey;
	padding-bottom: .25rem;
	margin-bottom: 1rem;
	font-weight: 700;
	font-family: $font-raleway;
	color: $color-tpe-black;
	text-transform: uppercase;
  }

  > div {
	background: $color-white;
	padding: 1rem;
	display: flex;
	flex-flow: row wrap;
	font-size: .85rem;

	.prop-group.image {
	  flex: 1 1 20%;

	  label {
		display: none;
	  }

	  .prop.image {
		max-width: 250px;

		div.val {
		  width: 100%;
		}

	  }
	}

	.prop-group.overview, .prop-group.notes {
	  flex: 1 1 30%;

	  .prop {
		margin-bottom: .5rem;
		padding: 0;

		label, .val {
		  display: inline;
		}
		label {
		  margin-bottom: 0;
		  font-weight: 700;
		  text-transform: uppercase;
		  &::after {
			content: ':';
			padding-right: 5px;
		  }
		}

	  }

	}

	.prop-group.overview {
	  padding-left: 3rem;
	  padding-right: 2rem;
	}

	.prop-group.notes {
	  padding-left: 1rem;

	  .prop.note {
		margin-bottom: 1.5rem;

		.val {
		  display: inline-block;
		  word-break: break-all;
		  word-break: break-word;
		}

	  }

	}

  }

}

div.window.dialog {
  width: 100% !important;
  max-width: 40rem !important;

  .confirm-listing-time {
	margin: 1.25rem 0;

	label {
	  display: block;
	  font-weight: 700;
	  text-transform: uppercase;
	  color: $color-tpe-black;
	  margin-bottom: .25rem;
	}

	input[type="text"] {
	  border: 2px solid $color-tpe-light-grey;
	}

	.select2-container {
	  width: 200px !important;
	  margin-top: -6px;
	}

  }

  div.high-bid.warning {
	margin-bottom: 1rem;
  }

  .actions {
	text-align: right;
  }

}