@import "../../components/base";

.listing-add {
margin-left: 30px;
  .prop {
    display: inline-block;
    vertical-align: top;
  }

  .prop-body .packaging {
    display: block;
  }
  .prop-body {

    .volume, .weight, .location {
      display: block;
      margin-left: 0px;
    }
  }



  .lot-number label {
    margin-bottom: .2rem;
  }

  .lot-number {
    margin-right: 30px;
  }

  .prop-editor .prop input[type=text] {
    min-width: 200px !important;
    width: 50px !important;
  }

}