@import "../../components/base";

.listing-search{

  table{
    max-width: 100%;
  }
  .prop-wrapper{
    display: flex;
    width: 100%;
    max-width: 100%;
  }


  .odd, .even{
    border: 1px solid #aaa;
    width: 90%;
  }

  .prop-wrapper label{
    text-transform: uppercase;
  }

  .overview .prop{
    display: block;
    text-align: left;
  }

  .prop-wrapper > div:first-child{
    width: 12%;
    //When an image is added
  }

  .miwt-table-data .overview{
  }

  .prop-wrapper .overview{
    width: 25%!important;
  }

  .prop-wrapper .overview .prop> label, .prop-wrapper .overview .prop> span{
    display: inline-block;
    width: 50%;
  }

  .miwt-table-data .bids{
    padding-top: 50px;
    width: 30%!important;
  }

  .prop-wrapper .bids > div:nth-child(1), .prop-wrapper .bids > div:nth-child(2) {
    display:inline-block;
    width: 50%;
    text-align: center;
  }


  .bids span{
    font-size: 1.3em;
    color: red;
  }

  .bids .actions{
    margin-top: 20px;
    text-align:center;
  }


  .prop-wrapper .details{
    border-left: 1px solid $GreyBorder;
    //Padding is holding the position for the image
    width: 30%;
  }

  .prop, .prop-group{
    display: block;
  }

  .prop-wrapper .details .prop span, .prop-wrapper .details .prop label{
    display: inline-block;
    width: 48%;

  }

  .details{
    text-align: left;
    padding-left: 20px;
  }


  .prop-wrapper .prop{
    margin-bottom: .01rem;
  }
}



