@import "../../../config/base-vars";
@import "../../../../../../bower_components/bootstrap/scss/variables";
@import "../../../../../../bower_components/bootstrap/scss/mixins";
@import "../../../../../../bower_components/bootstrap/scss/buttons";

.listing-viewer {

  > .message-container {
	display: flex;
	width: 100%;
  }

  &.prop-wrapper {
	width: 100%;
	max-width: none;
	padding: 0;
	display: flex;
	flex-flow: column nowrap;
  }

  .prop-header {
	display: flex;

	.prop-header-title {
	  display: flex;
	  flex: 1 0 0;
	  flex-flow: row wrap;
	  width: 100%;

	  .prop {
		margin: 0;
		padding: 0;

	  }

	}

	.type {
	  flex: 0 0 auto;

	  label {
		display: none;
	  }

	  .val {
		font-family: $font-raleway;
		font-size: 2.5rem;
		text-transform: uppercase;
	  }

	}

	.specialty-labels, .start-time {
	  > label { display: none !important; }
	}

	.specialty-labels {
	  flex: 1 0 auto;
	  align-self: center;

	  span.val span {
		font-size: .75rem;
		font-weight: 600;
		background: $color-tpe-beige;
		border-radius: $border-radius-sm;
		text-transform: uppercase;
		line-height: 1;
		margin-left: .3rem;
		padding: .125rem .45rem;
		display: inline-block;
		vertical-align: middle;
	  }

	}

	.start-time {
	  font-size: .8rem;
	  display: flex;
	  align-self: center;
	  justify-content: flex-end;

	  &.prop > .val, label {
		font-weight: 300;
		font-style: italic;
		display: inline-block;
		margin: 0;
	  }
	}

	.id {
	  order: 4;
	}

	.start-time {
	  flex: 0 0 auto;
	  order: 3;
	}

	.location {
	  order: 5;
	}

	.plant-id {
	  order: 6;
	}

	.location, .plant-id, .id {
	  flex: 1 0 100%;
	  width: 100%;
	  font-weight: 300;

	  label, span.val {
		color: $color-tpe-grey;
		font-size: 1.25rem;
		display: inline;
	  }

	  label {
		font-weight: 700;
		&::after {
		  content: ':';
		  padding-right: 5px;
		}
	  }

	}

  }

  .prop-body {
	display: flex;
	flex: 1;
	flex-flow: column nowrap;

	> .prop-group {
	  display: flex;
	  flex-flow: column nowrap;

	  &.listing-detail {
		padding: 2rem 0 0;
		flex: 1 0 auto;
		order: 2;
	  }

	  &.bid {
		flex: 1 0 auto;
		order: 1;
	  }

	  label {
		padding-right: 5px;
	  }

	}

	.live-weight, .freshness, .kill-date,
	.seller, .ship-date, .warehouse-location,
	.pick-up-date, .pick-up-time {
	  &.prop {
		padding: 0;
		margin: 0 0 .5rem;
	  }

	  label, span.val {
		display: inline-block;
	  }

	  label {
		margin: 0;
		text-transform: uppercase;
	  }

	}

	.freshness, .kill-date, .ship-date, .warehouse-location,
	.pick-up-date, .pick-up-time {
	  label {
		&::after {
		  content: ':';
		}
	  }
	}

	.logo, .image {
	  label {
		display: none;
	  }
	  div.val {
		max-width: 60%;
		img {
		  //border: 2px solid darken($body-bg, 5%);
		}
	  }

	}

	.logo {
	  margin: 0;
	}

	.logo, .image {
	  flex: 0 1 auto;
	}

	.grade, .packaging, .volume, .note {
	  font-size: .75rem;
	  color: $color-tpe-grey;

	  &.prop {
		padding: 0;
		margin: 0 0 .35rem;
	  }
	  label {
		margin: 0;
	  }

	}

	.grade, .packaging, .volume {

	  label, span.val {
		display: inline-block;
	  }

	}

	.grade, .packaging, .note:last-of-type {
	  label {
		&::after {
		  content: ':';
		}
	  }
	}

  }

  .prop-group.bid {

	.message-container {
	  width: 100%;
	  margin: 10px 1rem;
	}

	> div:not(.buyer-warning) {
	  display: flex;
	  flex-flow: row wrap;
	  background: $color-white;
	  border-color: $color-tpe-beige;
	  border-width: 1px 1px 2px 1px;
	  border-style: solid;
	  padding: 1rem 0;

	  label {
		padding-right: 0;
		margin-bottom: 0;
		text-transform: uppercase;
		font-weight: 700;
	  }

	}

	.prop-group-title.title {
	  margin: 0;
	  padding: .5rem 0;
	  background: $color-tpe-light-grey;
	  color: $color-white;
	  font-size: .85rem;
	  text-transform: uppercase;
	  justify-content: center;
	  border: none;
	  order: 2;
	}

	> .props {
	  order: 3;
	}

	.buyer-warning {
	  order: 1;
	  background-color: $color-white;
	  padding: 1rem;
	  margin-bottom: 1rem;
	  border: 2px solid $color-tpe-yellow;
	  border-radius: $border-radius-lg;
	  flex: 0 1 auto;

	  .packaging.warning {
		color: $color-tpe-black;
	  }

	  .message {
		border: none;
		font-weight: 700;
		background: transparent;
		color: $color-tpe-black;
		padding: 0;

		&::before {
		  display: none;
		}

	  }

	  ul {
		margin: .5rem 0 0;
		padding: 0;

		li {
		  display: inline-block;
		  list-style: none;
		  margin-right: 1rem;

		  &::after {
			content: '|';
			color: $color-tpe-light-grey;
			padding-left: .75rem;
		  }

		  &:last-child {
			&::after {
			  display: none;
			}

		  }

		}

	  }

	}

	.prevailing, .mybid, .maxbid {
	  display: flex;
	  flex-flow: column nowrap;
	}

	.prevailing {
	  order: 1;
	  text-align: center;
	  font-weight: 700;
	  font-size: 2.5rem;
	  border-bottom: 2px solid $color-tpe-beige;
	  padding: 2rem 1rem;
	  flex: 1 0 100%;

	  label {
		font-size: 1.1rem;
		font-family: $font-raleway;
	  }

	}

	.enter-bid-title {
	  order: 3;
	}

	.mybid, .maxbid {
	  padding: 1rem 1rem 2rem;
	  flex: 1 0 100%;
	}

	.mybid.view {
	  @extend .prevailing;
	  order: 2;
	  color: $color-tpe-green;

	  label {
		color: $color-tpe-black;
	  }

	  .reserve {
		padding: 7px;
		text-align: left;
		position: relative;

		&.warning {
		  border: 1px solid $color-error-dark;
		  background: $color-error-light;
		  color: $color-error-dark;
		  font-weight: 300;
		  font-size: .75rem;
		}

		p {
		  font-size: .75rem;
		  font-style: italic;
		  font-weight: 400;
		}

	  }

	}

	.mybid.edit, .maxbid {
	  label {
		position: relative;

		&::before {
		  content: '\f155';
		  font-family: FontAwesome;
		  display: block;
		  padding-right: 5px;
		  font-size: .8rem;
		  position: absolute;
		  font-weight: 300;
		  top: 33px;
		  left: -10px;
		}
	  }
	}

	.mybid.edit {
	  order: 4;
	}

	.maxbid {
	  position: relative;
	  order: 5;
	}

	.purchase-now-title, .enter-bid-title {
	  flex: 1 0 100%;
	  padding: 2rem 1rem 0;
	  font-size: 1.65rem;
	  font-weight: 700;
	  color: $color-tpe-lighter-grey;

	  &::after {
	  	content: ':';
	  }

	}

	.purchase-now-title {
	  order: 6;
	}

	.buy.strike {
	  order: 7;
	  display: flex;
	  flex: 1 0 auto;
	  padding: 0 1rem 2rem;
	  flex-direction: column;
	  font-size: 2.25rem;
	  font-weight: 700;

	  label {
		display: none;
	  }

	  .btn {
		width: 60%;
	  }

	}

	.btn {
	  margin-top: 1rem;
	  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $line-height-sm, $border-radius-sm);
	  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
	  border-bottom: 3px solid $btn-primary-border;
	  width: 50%;
	}

  }

}

div.window.dialog {
  width: 100% !important;
  max-width: 40rem !important;

  div.warning {
	margin-bottom: 1rem;
  }

  .actions {
	text-align: right;
  }

}

@media (min-width: 768px) {

  .listing-viewer {

	> .message-container {
	  width: 35%;
	}

	.prop-body {
	  flex-flow: row nowrap;

	  > .prop-group {

		&.listing-detail {
		  order: 1;
		  flex: 1 0 40%;
		  padding: 0 3rem 0 0;
		}

		&.bid {
		  order: 2;
		  flex: 2 0 60%;
		  margin-top: -8.25rem;
		}

	  }

	}

	.prop-group.bid {

	  .prevailing, .mybid.view {
		padding: 2rem 3rem 3rem;
		border-bottom: 2px solid $color-tpe-beige;
		flex: 1 1 34%;
	  }

	  .mybid.edit, .maxbid {
		flex: 1 0 34%;
	  }

	}

  }

}

@media (min-width: 1024px) {

  .listing-viewer {

	.prop-group.bid {

	  .mybid, .maxbid {
		padding: 1rem 3rem 3rem;
	  }

	  .purchase-now-title {
		padding: 1rem 3rem 0;
	  }

	  .enter-bid-title {
		padding: 3rem 3rem 0;
	  }

	  .buy.strike {
		padding: 0 3rem 3rem;
	  }

	  .mybid.edit {
		position: relative;

		/*&::after {
		  content: 'OR';
		  display: inline-block;
		  position: absolute;
		  top: 4.25rem;
		  right: 0;
		  font-size: 1.75rem;
		  font-weight: 700;
		  color: $color-tpe-lighter-grey;
		}*/

	  }

	  .buy.strike {

		.btn {
		  width: 40%;
		}

	  }

	}

  }

}

@media (min-width: 1025px) {

  .listing-viewer {

	.prop-group.bid {

	  > div:not(.buyer-warning) {
		flex: 0 0 auto;
	  }

	}

  }

}

