@import "../../../config/base-vars";

ul.tab-items {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.tab-items li {
  background: rgba(255,255,255, 0.2);
  border-top: 3px solid $color-tpe-yellow;
  border-left: 1px solid $color-tpe-beige;
  border-right: 1px solid $color-tpe-beige;
  display: inline-block;
  padding: 10px;
  border-bottom: 0;
  margin-bottom: -1px;
  cursor: pointer;

  &:hover {
    background: $color-white;
  }

  &.tab-selected {
	border-top: 3px solid $color-tpe-yellow;
	background: $color-white;
  }

  + li {
	margin-left: 5px;
  }

  .label {
	color: $color-tpe-black;
  }

}

.ctb.label-after {
  input[type="checkbox"] {
    margin-right: 5px;
  }
}

.freshness {
  margin: 1rem 0;

  .rtb.label-after {
    input {
      margin-right: 5px;
    }

    + .rtb.label-after {
      margin-left: 15px;
    }
  }
}