@import "../../../config/base-vars";

.prop-header-actions {
  display: none;
}

.prop-wrapper {
  width: 100% !important;
  max-width: none;

  .persistence-actions.bottom {
	text-align: right;
	margin-top: 5rem;
  }

}

.prop-body {
  display: flex;
  flex-flow: flex-row;

  .prop-group {
	flex: 1;
	padding: 0 2rem;
  }

}

.prop-editor {
  .prop {
	input[type="text"], textarea, .select2-container {
	  min-width: auto;
	  width: 100% !important;
	}

	.miwt-calendar input[type="text"] {
	  width: 83% !important;
	}

	label {
	  text-transform: uppercase;

	  &.tbl {
		padding-left: 5px;
		text-transform: none;
	  }

	}

	&.packaging {
	  .val {
		width: 100%;
	  }
	}

	&.freshness {
	  &::before {
		content: 'Fresh/Frozen';
		display: block;
		font-weight: 700;
		margin-bottom: .25rem;
		text-transform: uppercase;
	  }
	  span:nth-of-type(1) {
		margin-right: 1rem;
	  }
	}

  }

  .picture-editor {
	font-weight: 700;
	text-transform: uppercase;
	padding: .5rem;
	text-align: left;

	.drop-zone {
	  margin-top: .25rem;
	  text-align: center;
	  position: relative;
	}

	&.no-image-selected.mode-view {
	  .drop-zone {
		background-color: lighten($color-tpe-lightest-grey, 20%);
		min-height: 8rem;
		border: 1px solid $color-tpe-grey;

		&::after {
		  content: 'No image selected.';
		  color: $color-tpe-grey;
		  position: absolute;
		  font-size: .85rem;
		  top: 45%;
		  width: 100%;
		  left: 0;
		  font-weight: 300;
		  font-style: italic;
		}

	  }
	}

	input[type="file"] {
	  font-size: .85rem;
	}

	.actions.bottom {
	  .btn {
		padding: .375rem .75rem;
		font-size: .75rem;
		line-height: 1;
	  }
	}

  }

  .multiple-packaging {
	> div {
	  border-top: 1px solid $color-tpe-light-grey;
	  padding-top: 1.25rem;
	  margin-top: 1.25rem;

	  label {
		margin-bottom: 0;
	  }

	  label:not(.tbl) {
		font-weight: 700;
	  }

	  .prop {
		padding: 0;
	  }

	}
  }

}
