@import "../../components/create-listing";

.prop-editor .multiple-packaging {
  margin-top: -.5rem;
}

.prop-editor .product-details {
  .prop.grade + .prop.ctb.label-after {
    label {
      font-weight: 600;
      font-family: $font-raleway;
      text-transform: uppercase;
    }
  }
}

.prop-editor .freight-details {

  .prop.specialty-labels {
    label {
      order: 1;
    }
    span.hint {
      order: 2;
      margin-top: -3px;
    }
    div.val {
      order: 3;
    }
  }

  .prop.delivery-date,
  .prop.pickup-date {
    margin-top: -1.25rem;
    .val {
      width: 100%;
      span.select2-container {
        width: 6.5rem !important;
      }
      span.between-and {
        padding-left: 5rem;
      }
      .date1, .date2 {
        display: inline-block;
        vertical-align: middle;
      }
      .miwt-calendar {
        input[type="text"] {
          width: 7rem;
          font-size: .9rem;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .prop-editor .freight-details {
    .prop.delivery-date,
    .prop.pickup-date {
      .val {
        span.between-and {
          padding-left: 0;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .prop-editor .freight-details {
    .prop.delivery-date,
    .prop.pickup-date {
      .val {
        span.between-and {
          padding-left: 0;
        }
        .miwt-calendar {
          input[type="text"] {
            width: 12.75rem;
            font-size: .9rem;
          }
        }
      }
    }
  }
}