@import "../../components/base";

.listing-viewer .prop-body{

 .prop + .note {
    width: 100%;
    text-align: left;
    border: none;
  }

 .prop + .status {
    display: block;
    width: 100%;
    border: none;
  }

 .prop + .listing-time {
    display: block;
    width: 100%;
    border: none;
  }



 .prop {
    display: inline-block;
    width: 16%;
    text-align: left;
    margin-right: 0;
    vertical-align: top;
  }

 .location {
    display: block;
    text-align: left;
    width: 100%;
    font-size: 2em;
    margin-bottom: 30px;
  }

 .prop + .note span {
   text-align: left;
   width: 100%;
 }
}
