@import "../../../config/base-vars";
@import "../../../../../../bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "../../../../../../bower_components/bootstrap/scss/mixins";

#column1 {
  display: flex;
  flex-flow: column nowrap;

  @include breakpoint($bp-tablets-portrait) {
	flex-flow: row wrap;
  }

  .heading {
	flex: 1 0 auto;
	width: auto;
	padding-left: 1.5rem;

	@include breakpoint($bp-tablets-portrait) {
	  width: 100%;
	}

  }

  .purchasing-type {
	background: $color-white;
	margin: 0 0 1.5rem;
	padding: 4.75rem 0 1.5rem;
	flex: 1 0 auto;
	display: flex;
	flex-flow: column wrap;
	border: 2px solid $color-tpe-beige;
	position: relative;
	width: 100%;

	@include breakpoint($bp-tablets-landscape) {
	  flex: 1 0 0;
	  margin: 0 1.5rem 1.5rem;
	}

	h2 {
	  position: absolute;
	  top: 15px;
	  left: 8px;
	  padding: .5rem .25rem .5rem 2rem;
	  text-transform: uppercase;
	  color: $color-white;
	  font-weight: 600;
	  font-size: 1.5rem;
	  width: 100%;
	  line-height: 1;
	  text-align: left;

	  &::after {
		content: '';
		position: absolute;
		left: 0;
		top: 1px;
		border-left: 16px solid $color-white;
		border-top: 19px solid transparent;
		border-bottom: 19px solid transparent;
	  }

	  &::before {
		content: '';
		position: absolute;
		right: 0;
		bottom:-10px;
		border-bottom: 10px solid transparent;
		border-left: 7px solid transparent;
		display: inline-block;
	  }

	}

	.actions {
	  text-align: center;
	  margin: 1.25rem 0;

	  .btn.create {
		@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
		padding: .5rem 1.5rem;
	  }

	}

	.text {
	  padding: 0 1.5rem;
	  p {
		margin-bottom: 0;
	  }
	}

	.instructions {
	  min-height: 6.25rem;
	}

	.pro-tip {
	  p {
		color: $color-tpe-grey;
		font-size: .9rem;
		font-style: italic;
	  }
	}

	&.auction {
	  h2 {
		background-color: $color-tpe-auction;
		&::before {
		  border-left-color: darken($color-tpe-auction, 10%);
		}
	  }
	}

	&.best-offer {
	  h2 {
		background-color: $color-tpe-best-offer;
		&::before {
		  border-left-color: darken($color-tpe-best-offer, 10%);
		}
	  }
	}

  }

}