@import "../../../config/base-vars";
@import "../../../../../../bower_components/bootstrap/scss/variables";
@import "../../../../../../bower_components/bootstrap/scss/mixins";
@import "../../../../../../bower_components/bootstrap/scss/buttons";
@import "../../components/listing-details-viewer";
@import "../../components/conversation";

.win-message {
  width: 100%;
  padding: 2rem;
  background: rgba(202, 147, 0, .75);
  color: $color-white;
  border: 1px solid $color-tpe-yellow;

  h2 {
    font-size: 1.5rem;
    margin-top: 0;
    color: $color-white;

    @include breakpoint($bp-tablets-portrait) {
      font-size: 2rem;
    }

  }

  p {
    margin-bottom: 0;
  }

}

.listing-thanks-view {

  .prop-body {
    background: #fff;
    border: 2px solid $color-tpe-beige;
    overflow: hidden;
    padding: 1.5rem;
  }

  .prop-header {
    h1 {
      font-size: 2rem;
      line-height: 1;
      margin: 0;
      padding: .5rem 0;
      display: block;
      border-bottom: 2px solid $color-tpe-beige;
    }
  }

  div.buyer-warning {
    margin: 1rem 0;
    width: 100%;
    background: $color-white;
    border: 2px solid $color-tpe-yellow;
    font-size: .85rem;

    div.warning {
      padding: .5rem;

      .warn-message {
        font-weight: 600;
      }

    }

    ul {
      margin-bottom: 0;
    }

  }

  .props {
    display: flex;
    flex-flow: row wrap;
  }

  .prop.payment {
    flex: 1 0 auto;
    width: 100%;
    margin-bottom: 1rem;

    > label {
      display: block;
      font-weight: 600;
      margin-bottom: 0;
    }
  }

  .delivery-type, .amount, .delivery-dest {
    flex: 1 0 auto;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    padding: 1rem 0;

    @include breakpoint($bp-tablets-portrait) {
      width: 50%;
    }

    label {
      font-weight: 600;
    }

  }

  .delivery-type {
    padding: 1.5rem;

    label {
      display: block;
      font-weight: 600;
    }

  }

  .delivery-dest {
    padding: 0 0 0 50%;
    margin-top: -1.5rem;
    > label {
      display: none;
    }
  }

  .amount {
    background: lighten($color-tpe-light-grey, 25%);

    span.amt {
      color: $color-tpe-grey;
      font-size: 1.75rem;
      font-weight: 600;
    }

  }

  .conversation {
    flex: 1 0 auto;
    width: 100%;
    border: none;
    padding: 0;

    label {
      font-size: 1.25rem;
      font-weight: 600;
      border-bottom: 2px solid $color-tpe-beige;
      font-family: $font-raleway;
      margin-top: 1.5rem;
      text-transform: uppercase;
      width: 100%;
    }

    .conversation-viewer {
      padding: 5px;
      width: 100%;
    }

  }

}

/* ----- LISTING CLOSED */
.closed-message {
  width: 100%;
  padding: 2rem;
  background: $color-error-light;
  color: $color-error-dark;
  border: 1px solid $color-error-dark;

  a {
    color: $color-error-dark;
    text-decoration: underline;
  }

  h2 {
    font-size: 1.5rem;
    margin-top: 0;
    color: $color-error-dark;

    @include breakpoint($bp-tablets-portrait) {
      font-size: 2rem;
    }

    &::before {
      content: '\f071';
      font-family: FontAwesome;
      display: inline-block;
      font-size: inherit;
      font-weight: normal;
      margin-right: 8px;
    }

  }

  p {
    margin-bottom: 0;

    + p {
      margin-top: .75rem;
    }

  }

}

.listing-closed-view {
  h1 {
    display: none;
  }
}