

#column2 .miwt, #column2 .location-edit, #column2.user-editor{
  width: 100%;
  background-color: #fff;
  border: 1px solid #aaa;
  padding: 20px 5%;;
}

.prop{
  width: 49%;
  display: inline-block;
}

