.listing-viewer .prop-body  .prop + .note{
  max-height: 200px;
  width: 100%;
  text-align: left;
  border: none;
}

.listing-viewer .prop-body .prop + .status{
  display: block;
  width: 100%;
  border: none;

}

.listing-viewer .prop-body .prop + .listing-time{
  display: block;
  width: 100%;
  border: none;
}

.listing-viewer .prop-body .prop{
  display: inline-block;
  width: 19%;
  text-align: center;
}


.listing-viewer .prop-body .location, .listing-viewer .prop-body .lot-number{
  display: inline-block;
  text-align: center;
  width: 50%;
  font-size: 1.6em;
  margin-bottom: 50px;
  border: none;
}

.listing-viewer .prop-body  .prop + .note span{
  text-align: left;
  border: 1px solid #aaa;
  width: 100%;
  padding: 10px;

}
