@import "../../../config/base-vars";
@import "../../components/exchange-search-filters";

.text.title {
  + .html.add-listing {
	margin-top: -3.5rem;
  }
}

.html.add-listing {
  text-align: right;

  a.btn.add {
	color: transparent;
	width: 35px;
	overflow: hidden;

	&:hover {
	  color: transparent;
	}

	&::before {
	  color: $color-white !important;
	}

  }

}

.enclosing #column1 {
  position: static;

  > .miwt {
	margin-top: 3.5rem;
  }
  > .text.title + .miwt {
	margin-top: 3rem;
  }
}

.listing-search {
  position: relative;

  .search-results > thead { display: none; }

  .miwt-table > tbody > tr {
    display: flex;

    > td {
      display: flex;
      flex: 1;
      background: #fff;
      border: 2px solid $color-tpe-beige;
      padding: 0;
      margin-bottom: 2rem;
    }

    &:hover > td {
      background: #fff;
    }

	&.no_data > td {
	  padding: .5rem;
	  justify-content: center;
	}

  }

  .miwt-table-data tr {
    height: auto !important;
  }

  .listing {
	text-align: left;
    width: 100%;
    flex: 1;
	flex-shrink: 0;
    display: flex;
	padding: 0;

    &.prop-wrapper {
      max-width: none;
    }

  }

  .actions.entity-actions {
	position: absolute;
	right: -3px;
	top: -2.5rem;

	> button.btn {
	  padding: 0.25rem 0.75rem;
	  font-size: .85rem;
	}
  }

  .message-container {
	.message.info {
	  background: $alert-info-bg;
	  border: 1px solid $alert-info-border;
	  color: $alert-info-text;
	}
  }

}

.text.title + .miwt .listing-search .actions.entity-actions {
  top: -5.5rem;
}

.listing-main-wrapper, .listing-bid-wrapper {
  display: flex;
}

.listing-main-wrapper {
  flex: 1 0 50%;
  flex-flow: column nowrap;
  padding: 0 .75rem .5rem;

  > div {
	display: flex;
  }

  .prop {
	padding: 0;
	margin: 0;
  }

  .title {
	flex-flow: row wrap;
	width: 100%;
	justify-content: space-between;
  }

  .listing-title {
	display: flex;
	flex-direction: column;

	.listing-name {
	  flex-shrink: 0;
	  margin-right: .3rem;
	  align-self: center;

	  > label {
		display: none;
	  }

	  .val {
		text-transform: uppercase;
		font-family: $font-raleway;
		font-weight: 700;
		font-size: 1.45rem;
	  }

	}

	.listing-tags {
	  align-self: flex-start;
	  flex-shrink: 2;

	  .tag {
		font-size: .7rem;
		font-weight: 600;
		background: $color-tpe-beige;
		border-radius: $border-radius-sm;
		text-transform: uppercase;
		line-height: 1;
		margin-right: .3rem;
		padding: .125rem .45rem;
		display: inline-block;
	  }

	}

  }

  .id-time {
	text-align: left;
	margin-top: .75rem;
	font-style: italic;
	font-size: .7rem;

	> span {
	  display: block;
	}

	.listing-time {
	  text-transform: uppercase;
	  &::before {
		content: "Listed at:";
	  }
	}

	.remaining-time {
	  display: none;
	}

  }

  .listing-flags {
	margin-top: -3px;
	margin-bottom: .75rem;
	flex: 1 0 100%;

	.flag {
	  display: inline-block;
	  font-size: .65rem;
	  line-height: 1;
	  margin-right: .3rem;
	  padding: .25rem .375rem .3rem;
	  color: $color-white;
	  font-weight: 700;
	  border-bottom-left-radius: $border-radius-sm;
	  border-bottom-right-radius: $border-radius-sm;

	  &.new-flag {
		background: $color-tpe-brand;
	  }
	  &.leading-flag {
		background: $color-tpe-green;
	  }
	  &.losing-flag {
		background: $color-tpe-yellow;
	  }
	  &.ending-flag {
		background: $color-tpe-red;
	  }

	}

  }

  .body-con {
	flex-flow: column nowrap;
	flex: 1 0 auto;

	> .column {
	  flex: 0 1 auto;
	  padding-top: 1rem;

	  &.right.logo-wrapper {
		padding-top: .5rem;

	  }

	}

	.prop {

	  label, .val {
		display: inline;
	  }

	}

	.volume, .weight {
	  span::after {
		content: " lbs";
	  }
	}

  }

  .prop {
	margin-bottom: .25rem;
	label {
	  margin-bottom: 0;
	  &::after {
		content: ':';
		padding-right: 5px;
	  }
	}

  }

  .warehouse-location, .pick-up-time {
	flex-direction: column;
	flex: 1 0 auto;

	label, span.val {
	  display: block;
	}
  }

  .listing-info, .listing-dates {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	flex: 1 0 auto;
	align-content: flex-end;

	.prop {
	  flex: 1 0 100%;
	}

  }

  .company {
	color: $color-tpe-grey;
	font-size: .75rem;
  }

  .listing-info, .listing-notes, .listing-company, .listing-dates {
	  label, span.val {
		display: inline;
	  }

	  label {
		text-transform: uppercase;
		&::after {
		  content: ':';
		  padding-right: 3px;
		}

	   }

  }

  .listing-notes {
	flex: 2 0 auto;
	border-top: 1px solid $color-tpe-beige;
	margin-top: 1rem;
	padding-top: .75rem;
	font-size: 90%;
	color: $color-tpe-grey;
	.val {
	  font-style: italic;
	  word-break: break-word;
	  hyphens: auto;
	}
  }

  .certifications {
	span.certification {
	  &::after {
		content: ',';
		margin-right: 5px;
	  }

	  &:last-child {
		&::after {
		  content: '';
		}
	  }
	}
  }

}

.listing-bid-wrapper {
  flex: 1 0 30%;
  flex-flow: column nowrap;
  border-left: 2px solid $color-tpe-beige;
  padding: 1rem 0 1rem .5rem;

  > div {
	align-self: flex-start;
	display: flex;
	flex-direction: column;

	&:not(.actions) { width: 100%; }

	label {
	  text-transform: uppercase;
	  font-size: .65rem;
	  font-weight: 500 !important;
	  margin-bottom: 0;
	}

	.val {
	  font-weight: 700;
	  font-size: 1.15rem;
	  line-height: 1;
	}

	&.actions {
	  flex: 0 1 auto;
	  justify-content: flex-start;

	  + span.fob.message {
		margin-top: .5rem;
	  }

	}

  }

  span.fob.message {
	font-size: .7rem;
	font-style: italic;
	text-align: center;
	padding: 0 1rem;
  }

}

.definition {
  display: flex;
  flex-flow: column  nowrap;
  font-size: .75rem;

  > div {
	flex: 1;
	padding: 0 1rem 1rem;
	font-style: italic;
	color: $color-tpe-grey;

	span {
	  font-weight: 700;
	}

  }

}

// TEMPORARY
div.window.dialog {
  max-width: 40rem !important;
  width: 100% !important;

  .emails {
	margin-bottom: 1rem;

	label::after {
	  content: '(Comma separated email addresses)';
	  font-size: .6rem;
	  font-style: italic;
	  font-weight: normal;
	  margin-left: .5rem;
	  text-transform: none;
	}
  }
  label {
	color: $color-tpe-black;
	display: block;
	font-weight: 700;
	margin-bottom: .25rem;
	text-transform: uppercase;
  }
  input {
	border: 2px solid $color-tpe-light-grey;
	width: 100%;
  }

  div.actions {
	text-align: right;
  }

  div.sample.text {
	padding: .75rem;
	border: 1px dashed $color-tpe-light-grey;
	margin: 2.5rem 0 1rem;
	color: $color-tpe-grey;
	position: relative;
	font-style: italic;

	p:last-child {
	  margin-bottom: 0;
	}

	&::before {
	  content: 'Email Content:';
	  display: block;
	  position: absolute;
	  top: -25px;
	  left: 0;
	  font-weight: 800;
	  font-size: .85rem;
	  color: $color-tpe-black;
	  font-style: normal;
	  text-transform: uppercase;
	}

  }

}

@media (min-width: 768px) {

  .html.add-listing {
	text-align: right;

	a.btn.add {
	  color: $color-white;
	  width: auto;
	  overflow: visible;

	  &:hover {
		color: $color-white;
	  }

	}

  }

  .text.title {
	+ .html.add-listing {
	  padding-right: 9.5rem;
	}
  }

  .listing-search {
	.actions.entity-actions {
	  right: 0;

	  > button.btn {
		font-size: 1rem;
	  }
	}
  }

  .text.title + .miwt .listing-search .actions.entity-actions {
	top: -2.5rem;
  }

  .listing-main-wrapper {
	padding: 0 1.5rem .5rem 1.75rem;

	.body-con {
	  flex-flow: row wrap;

	  > .column {
		flex: 1 0 45%;
	  }

	  > .column.logo-wrapper {
		max-width: 45%;
		margin: 0 auto;
		text-align: center;
	  }

	}

	.listing-notes {
	  flex: 1 0 auto;
	  width: 100%;
	}

	.warehouse-location, .pick-up-time {
	  flex: 1 0 auto;
	  width: 100%;
	}

  }

  .listing-bid-wrapper {
	flex: 1 0 17%;
	padding: 1rem 0;

	> div {
	  align-self: center;

	  &:not(.actions) { width: 55%; }

	  .val {
		font-size: 1.5rem;
	  }

	}

  }

  .definition {
	flex-flow: row wrap;
  }

}

@media (min-width: 1024px) {

  .listing-main-wrapper {
	flex: 2 0 70%;

	.body-con {
	  flex-flow: row nowrap;
	  flex: 1 0 auto;
	  width: 100%;

	  > .column {
		flex: 2 0 30%;
		padding-top: 1rem;

		&.right.logo-wrapper {
		  flex: 1 0 20%;
		  padding-top: .5rem;
		  text-align: center;
		  max-width: none;
		  margin: 0;
		  .prop.company-logo {
			max-width: 55%;
			margin: 0 auto;
		  }
		}

	  }

	}

	.listing-title {
	  flex-flow: row nowrap;
	  max-width: 75%;

	  .listing-tags {
		align-self: center;
	  }

	  .listing-notes {
		flex: 2 0 100%;
		width: 100%;
	  }

	  .warehouse-location, .pick-up-time {
		flex: 1 0 100%;
		width: 100%;
	  }

	}

	.id-time {
	  text-align: right;
	  margin-top: 0;
	}

	.listing-info, .listing-dates {
	  flex-flow: row wrap;
	  flex: 1 0 auto;

	  .prop {
		flex: 1 0 45%;
	  }

	}

  }

}