@import "../config/base-vars";
@import "../../../../bower_components/bootstrap/scss/buttons";

.actions .btn {
	margin-right:4px;
}

.actions, .add-listing {

  .btn {
	font-family: $font-open-sans;
	font-weight: 600;
	text-transform: uppercase;
	@include button-variant($color-white, $color-tpe-light-grey, darken($color-tpe-light-grey, 5%));
	border-bottom: 3px solid darken($color-tpe-light-grey, 5%);

	/*&:first-child {
	  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
	  border-bottom: 3px solid $btn-primary-border;
	}

	&:not(:first-child) {
	  @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
	  border-bottom: 3px solid $btn-secondary-border;
	}*/

	&.add {
	  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-root, $line-height-sm, $btn-border-radius-sm);
	  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
	  border-bottom: 3px solid $btn-primary-border;
	  height: auto;
	}

	&.save, &.copy {
	  @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
	  border-bottom: 3px solid $btn-secondary-border;
	}

	&.bid, &.accept-bid, &.yes, &.accept {
	  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
	  border-bottom: 3px solid $btn-primary-border;
	}

	&.mark-ready {
	  @include button-variant($color-white, $color-tpe-green, darken($color-tpe-green, 5%));
	  border-bottom: 3px solid darken($color-tpe-green, 5%);
	}

	&:hover {
	  text-decoration: none;
	}

  }

}

.purchase-now {
  button.btn {
	@include button-variant($color-white, $color-tpe-black, darken($color-tpe-black, 5%));
	border-bottom: 3px solid darken($color-tpe-black, 5%);
  }
}

.exchange-btn.request-product {
  .btn {
	font-family: $font-open-sans;
	font-weight: 600;
	text-transform: uppercase;
	@include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-root, $line-height-sm, $btn-border-radius-sm);
	@include button-variant($color-white, $color-tpe-light-grey, darken($color-tpe-light-grey, 5%));
	border-bottom: 3px solid darken($color-tpe-light-grey, 5%);
  }
}

.action-column .btn {
	@include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-xs, $line-height-sm, $btn-border-radius-sm);
}

@media (max-width: 600px) {
  .actions, .add-listing {
	.btn.add {
	  color: transparent;
	  width: 35px;
	  overflow: hidden;

	  &:hover {
		color: transparent;
	  }

	  &::before {
		color: $color-white !important;
	  }

	}
  }
}