@import "../config/base-vars";
@import "../../../../bower_components/bootstrap/scss/buttons";

.actions .btn {
	margin-right:4px;
}

.actions, .add-listing {

  .btn {
	font-family: $font-open-sans;
	font-weight: 600;
	text-transform: uppercase;

	&:first-child {
	  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
	  border-bottom: 3px solid $btn-primary-border;
	}

	&:not(:first-child) {
	  @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
	  border-bottom: 3px solid $btn-secondary-border;
	}

	&.add {
	  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-root, $line-height-sm, $btn-border-radius-sm);
	  height: auto;
	  &::before {
		content: '\f067';
		font-family: FontAwesome;
		padding-right: 5px;
		font-weight: 300;
		font-size: 85%;
		color: $color-white;
	  }
	}

	&:hover {
	  text-decoration: none;
	}

  }

}

.action-column .btn {
	@include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-xs, $line-height-sm, $btn-border-radius-sm);
}

@media (max-width: 600px) {
  .actions, .add-listing {
	.btn.add {
	  color: transparent;
	  width: 35px;
	  overflow: hidden;

	  &:hover {
		color: transparent;
	  }

	  &::before {
		color: $color-white !important;
	  }

	}
  }
}