
.breadcrumb_path {
  display: none;
}

@media (min-width: 1024px) {
  .breadcrumb_path {
    display: block;

    ol {
      padding: 0;
      margin: 0;
    }

    li {
      display: inline-block;
      zoom: 1;
      *display: inline;
      margin-bottom: 15px;
      font-size: .8rem;
      color: $color-tpe-grey;
      text-transform: uppercase;
      font-family: $font-raleway;
      font-weight: 600;

      a {
        color: $color-tpe-grey;
      }

      + li {
        margin-left: 7px;

        &:before {
          content: "\f105";
          font-family: FontAwesome;
          margin-right: 7px;
        }

        &.current, a:hover {
          color: #000;
        }

      }

    }

  }

}