@import "../config/base-vars";

#header {
  background: $color-white;
  padding: .75rem 1rem;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);

  > div {
	display: flex;
  }

  .logo-con {
	flex: 1 2 0;
	justify-content: flex-start;

	a {
	  display: block;
	}

  }

  .nav-profile-con {
	flex: 3 1 auto;
	align-items: center;
  }

  div.menu {
	flex: 2;
	justify-content: center;
	font-family: $font-raleway;
	font-weight: 400;

	ul.menubeanh li, ul.menubeanh-persistent li {
	  float: none;
	}

	> ul.menu {
	  display: flex;
	  width: 100%;
	  justify-content: space-around;

	  > li {
		align-self: center;

		> .menuitemlabel {
		  border-bottom: 3px solid transparent;
		  text-transform: uppercase;
		}

		&.mi-active > a, > a:hover {
		  text-decoration: none;
		  font-weight: 600;
		  border-bottom: 3px solid $color-tpe-yellow;
		  color: $color-tpe-dark-grey;
		}

		ul {
		  width: 13rem;
		  background: $tpe-page-bg;
		  box-shadow: 0 3px 5px rgba(0,0,0,0.1);
		  border-bottom: 3px solid $color-tpe-yellow;
		  z-index: 999;

		  li {
			line-height: 2;

			a {
			  line-height: 1;
			  padding: .75rem;
			  display: block;
			  color: $color-tpe-dark-grey;
			}

			&:hover a, &.mi-active a {
			  background: $color-tpe-light-grey;
			  color: $color-white;
			}

		  }

		}

	  }

	  a {
		color: $color-tpe-dark-grey;
		text-decoration: none;
	  }

	}

  }

  div.logout {
	flex: 1;
	justify-content: flex-end;
	align-items: center;
	font-size: 85%;

	> ul.menu {
	  justify-content: flex-end;

	  > li.mi-parent {
		cursor: pointer;

		> div.menuitemlabel:hover span {
		  font-weight: 600;
		}

		&:hover {

		  ul.menu-t2 {
			display: block;
			right: 0;
		  }

		}

	  }

	}

  }

}