$coloumnOneBackGroundColor:#02549d;
$columnTextColor: #fff;


.enclosing{
  overflow: hidden;
  background-color: #fff;
}
#column1{
  width: 15%;
  min-width: 130px;
  height: 100%;
  background-color:  $coloumnOneBackGroundColor;
  color:$columnTextColor;
  padding-top:45px;
  padding-bottom: 1200px;
  margin-bottom: -1200px;
  border: 1px solid #aaa;

}

#column2{
  width: 85%;
  }




