@import "../../config/base-import";
@import "../../config/base-vars";
@import "../../components/messages";
@import "../../components/top-menu";
@import "../../components/side-nav";
@import "../../components/miwt";
@import "../../components/miwt-tables";
@import "../../components/miwt-menu";
@import "../../components/miwt-dialog";
@import "../../components/tabs";
@import "../../components/search-ui";
@import "../../components/pager";
@import "../../components/prop-ui";
@import "../../components/file-chooser";
@import "../../components/actions";
@import "../../components/breadcrumbs";
@import "../components/tables";
@import "../components/manage-edit";
@import "../components/manage-viewer";

//import template files
@import "../templates/style-responsive";

//import admin pages files
//@import "../pages/page--user-search";
//@import "../pages/page-user-view";
//@import "../pages/page---roles";


body {
  background: $body-bg;
  font-family: $font-open-sans;
  font-weight: 400;
  color: $color-tpe-black;

  div.page {
	display: flex;
	flex-flow: column nowrap;
  }

}

#e-content {
  flex: 1 0 auto;
  min-height: calc(100vh - 90px);
  padding-bottom: 3rem;
}

a {
  color: $color-tpe-brand;
}

#e-COLUMN-0 {
  padding: 4.75rem 1.25rem 0;
  display: flex;
  flex-flow: row wrap;
  max-width: 70rem;
  margin: 0 auto;
}

span.title {
	font-family: $font-raleway;
	font-weight: 700;
	font-size: 3rem;
	color: $color-tpe-black;
	text-transform: uppercase;
}

.enclosing {

  #column1 {
	float: none;
	flex: 1;
  }
  #column2 {
	flex: 4;
	float: none;
	//margin: 0 auto;
	//width: 100%;
	//max-width: 70rem;
  }

}

#column1 {
  .sub-nav {
	margin-top: 2.5rem;

	.element {
	  text-align: right;
	  border-bottom: 1px solid $color-tpe-grey;

	  a {
		padding: .5rem .75rem .5rem 0;
		font-family: $font-raleway;
		font-weight: 400;
		color: $color-tpe-dark-grey;
		text-transform: uppercase;
		display: block;
		border-bottom: 2px solid transparent;

		&:hover {
		  font-weight: 600;
		  border-bottom: 2px solid $color-tpe-yellow;
		  text-decoration: none;
		}

	  }

	}

  }

}

h1, h2, h3 {
  font-family: $font-raleway;
  text-transform: uppercase;
  color: $color-tpe-black;
  font-weight: 700;
}

h1 {
  font-size: 3rem;
  line-height: 1.5;
}

::selection {
	// background: #FF6C60;
}

.update-password-dialog {
	width: 40rem !important;
	.windowcontent {
		text-align: center;
	}
}

section {
	> h1 {
		margin: 10px 0;
		font-size: 2rem;
	}
	section > h1 {
		font-size: 1.75rem;
		margin: 10px 0;
	}
}

img {
  max-width: 100%;
  height: auto;
}

.miwt-calendar {
	button.open,
	button.clear {
		border: none;
		background: transparent;
		//visibility: hidden;
		color: transparent;
	  	box-shadow: none;

		&:before {
			visibility: visible;
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			content: "\f073";
		  	color: $color-tpe-light-grey;
		}
		&:hover {
			color: transparent;
		  	background: transparent;
		  	&::before {
			  color: $color-tpe-black;
			}
		}
	}
	button.clear {
		padding-right: 0;
		&:before {
			content: '\f00d';
		}
	}
}

.select2-container {
  .select2-selection--single {
	height: 30px !important;
  }

  .select2-selection {
	border: 2px solid $color-tpe-lightest-grey !important;
  }

  .select2-selection__choice {
	font-size: .8rem;
  }

}

/* ---- THIS WILL EVENTUALLY GET REMOVED/CHANGED */
#footer {
  display: block;
  min-height: 4.625rem;
  height: auto;
  margin-top: 0;
  background-color: $color-tpe-grey;
  color: $color-white;
  //flex: 1;
  width: 100%;

  .text {
	padding: 1.5rem 0;
	max-width: 70rem;
	margin: 0 auto;
	text-align: center;

	p {
	  margin: 0;
	}

  }

}
