@import "../../config/base-import";
@import "../../config/base-vars";
@import "../../components/messages";
@import "../../components/top-menu";
@import "../../components/side-nav";
@import "../../components/miwt";
@import "../../components/miwt-tables";
@import "../../components/miwt-menu";
@import "../../components/miwt-dialog";
@import "../../components/tabs";
@import "../../components/search-ui";
@import "../../components/pager";
@import "../../components/prop-ui";
@import "../../components/file-chooser";
@import "../../components/actions";
@import "../../components/breadcrumbs";
@import "../components/tables";
@import "../components/manage-edit";
@import "../components/manage-viewer";

//import template files
@import "../templates/style-responsive";

//import admin pages files
//@import "../pages/page--user-search";
//@import "../pages/page-user-view";
//@import "../pages/page---roles";


body {
  background: $body-bg;
  font-family: $font-open-sans;
  font-weight: 400;
  color: $color-tpe-black;

  div.page {
	display: flex;
	flex-flow: column nowrap;
  }

}

#e-content {
  flex: 1 0 auto;
  min-height: calc(100vh - 90px);
  padding-bottom: 3rem;
}

a {
  color: $color-tpe-brand;
}

#e-COLUMN-0 {
  padding: 2.5rem 1.25rem 0;
  display: flex;
  flex-flow: column nowrap;
  max-width: 70rem;
  margin: 0 auto;
}

.enclosing {

  #column1 {
	float: none;
	flex: 1;
	//position: relative;
  }
  #column2 {
	flex: 4;
	float: none;
	//margin: 0 auto;
	//width: 100%;
	//max-width: 70rem;
  }

}

#column1 {
  .sub-nav {
	margin-top: 0;
	margin-bottom: 1rem;

	.element {
	  text-align: center;
	  border-bottom: 1px solid $color-tpe-grey;

	  a {
		padding: .5rem .75rem .5rem 0;
		font-family: $font-raleway;
		font-weight: 400;
		color: $color-tpe-dark-grey;
		text-transform: uppercase;
		display: block;
		border-bottom: 2px solid transparent;

		&:hover {
		  font-weight: 600;
		  border-bottom: 2px solid $color-tpe-yellow;
		  text-decoration: none;
		}

	  }

	}

  }

}

.text.back-link {
  float: right;
  margin-top: 10px;

  p {
	margin: 0;
  }

  a {
	color: $color-tpe-brand;
	font-size: .875rem;
	text-decoration: none;
	display: block;
	width: 15px;
	overflow: hidden;
	white-space: nowrap;

	&::before {
	  content: '\f112';
	  padding-right: 5px;
	  font-family: FontAwesome;
	  text-decoration: none;
	}

	&:hover {
	 color: $color-tpe-grey;
	}
  }

}

.miwt-config-actions {

  .close {
	&::before {
	  font-size: 1rem;
	  padding: 5px;
	}
  }

}

h1, h2, h3 {
  font-family: $font-raleway;
  text-transform: uppercase;
  color: $color-tpe-black;
  font-weight: 700;
}

h1, span.title {
  font-size: 2rem;
  line-height: 1.5;
  font-family: $font-raleway;
  font-weight: 700;
  color: $color-tpe-black;
  text-transform: uppercase;
  padding-right: 40px;
}

::selection {
	// background: #FF6C60;
}

.update-password-dialog {
	width: 40rem !important;
	.windowcontent {
		text-align: center;
	}
}

section {
	> h1 {
		margin: 10px 0;
		font-size: 2rem;
	}
	section > h1 {
		font-size: 1.75rem;
		margin: 10px 0;
	}
}

img {
  max-width: 100%;
  height: auto;
}

.miwt-calendar {
	button.open,
	button.clear {
		border: none;
		background: transparent;
		//visibility: hidden;
		color: transparent;
	  	box-shadow: none;

		&:before {
			visibility: visible;
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			content: "\f073";
		  	color: $color-tpe-light-grey;
		}
		&:hover {
			color: transparent;
		  	background: transparent;
		  	&::before {
			  color: $color-tpe-black;
			}
		}
	}
	button.clear {
		padding-right: 0;
		&:before {
			content: '\f00d';
		}
	}
}

.select2-container {
  .select2-selection--single {
	height: 30px !important;
  }

  .select2-selection {
	border: 2px solid $color-tpe-lightest-grey !important;
  }

  .select2-selection__choice {
	font-size: .8rem;
  }

}

.approved-locations-viewer {
  .miwt-table > tbody > tr > td.allow-supplier {
	width: 8.5rem;
  }
}

/* ---- THIS WILL EVENTUALLY GET REMOVED/CHANGED */
#footer {
  display: block;
  min-height: 4.625rem;
  height: auto;
  margin-top: 0;
  background-color: $color-tpe-grey;
  color: $color-white;
  //flex: 1;
  width: 100%;

  .text {
	padding: 1.5rem 0;
	max-width: 70rem;
	margin: 0 auto;
	text-align: center;

	p {
	  margin: 0;
	}

  }

}

@media (max-width: 768px) {
  .sidebar-open #e-COLUMN-0 {
	opacity: .25;
  }
}

@media (min-width: 768px) {
  #e-COLUMN-0 {
	flex-flow: row wrap;
  }
  h1, span.title {
	padding-right: 0;
  }
  #column1 {
	.sub-nav {
	  margin-top: 4.5rem;

	  .element {
		text-align: right;
	  }

	}

  }
  #admin-template #column1 .sub-nav {
	margin-top: 2.5rem;
  }
  .text.back-link {
	margin-top: 1.55rem;
	a {
	  color: $color-tpe-brand;
	  font-size: .875rem;
	  text-decoration: none;
	  display: block;
	  width: auto;
	  overflow: hidden;
	  white-space: nowrap;

	  &::after {
		content: '';
		height: 1px;
		background: $color-tpe-brand;
		display: block;
		width: 89%;
		margin-top: -5px;
		margin-left: 11%;
	  }

	  &:hover {
		color: $color-tpe-grey;
	  }
	}
  }
}

@media (min-width: 1024px) {
  h1, span.title {
	font-size: 3rem;
  }
}
